<h1 class='m-3'>Edit task</h1>

<div class='m-3'>
  <%= form_for(@task) do |f| %>
    <div class="form-group">
      <%= f.label :title, 'Title' %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :details, 'Details' %>
      <%= f.text_field :details, class: 'form-control' %>
    </div>
    
    <br>
    <div class='d-flex justify-content-left align-items-baseline'>
      <%= check_box 'task', 'completed', {}, '1', '0' %> 
      <p class='ml-2'> Complete this task</p>
    </div>
    
    <%= f.submit class: 'btn btn-primary' %>
    
  <% end %>

  <hr>



  <%= link_to '<- Back to list', tasks_path %>

</div>
