<div class="d-flex  justify-content-between">
  <h1 class='mt-3 ml-3'><%= @task.title%></h1>
  <div class='d-flex align-items-center'>
    <%= link_to 'UPDATE TASK', edit_task_path, class: 'ml-3 mr-3' %>
  </div>
</div>

<div class="card">
    <div class="card-body">
    <%= @task.details %></li>
    </div>
</div>

<div class="m-3">
  <% if @task.completed == true %>
    <%= image_tag('checked_box.png', height: '16', width: '20.8') %>
    <p> This task is completed </p>
  <% else %>
     <%= image_tag('unchecked_box.png', size: '16') %>
     <p> This task is not yet completed</p>
    
  <% end %>

  <%= link_to '<- Back to list', tasks_path %>
</div>



